body {
  font-family: 'Roboto', sans-serif;
  background: #eaeaea;
}

.notes-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem 20px; 
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-section {
  text-align: center;
  margin-bottom: 20px;
}

.filter-section button {
  margin: 5px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-section button.selected {
  background: #0056b3;
}

.filter-section button:hover {
  background: #0056b3;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.note-card {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.note-card:hover {
  background: #e9ecef;
}

.note-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.note-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background: #fff;
}

.note-actions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button, .delete-button, .close-button {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button {
  background: #ff6f00; /* Dark orange */
  margin-bottom: 20px; /* Increased margin between Edit and Close */
}

.delete-button {
  background: #dc3545; /* Red */
}

.close-button {
  background: #007bff; /* Blue */
}

.edit-button:hover {
  background: #e65c00; /* Darker orange for hover */
}

.delete-button:hover {
  background: #c82333; /* Darker red for hover */
}

.close-button:hover {
  background: #0056b3; /* Darker blue for hover */
}

.note-actions .close-button {
  margin-bottom: 0; 
}

.editor-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.add-note, .add-category {
  margin-bottom: 20px;
}

.add-note input, .add-category input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.add-note button, .add-category button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #007bff;
  transition: background-color 0.3s ease;
}

.add-note button:hover, .add-category button:hover {
  background: #0056b3;
}

.auth-section {
  margin-top: 20px;
  text-align: center;
}

.input[type="text"], input[type="password"], select {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 5px 0 5px 0; 
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-sizing: border-box; 
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #0056b3;
}

button:disabled {
  background: #6c757d;
}

.center-button {
  display: block;
  margin: 10px auto; 
}
